<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Posts</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Quora</h1>
<form method="get" action="/posts/new">
    <button>Create New Post</button>
</form>
   <hr>
   <%for(post of posts) {%>
    <div class="post">
        <h3 >@<%=post.username%></h3>
        <h3><%=post.comment%></h3>
        <br>
        <form method="get" action="/posts/<%= post.id%>">
            <button>See in Details</button>
        </form>
        
        <form method="get" action="/posts/<%= post.id %> /edit">
            <button>Edit</button>
        </form>
        <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
            <button>Delete</button>
        </form>
        <hr>

    </div>
   <%}%>

    
</body>
</html>